

<div class="container">
    <div class="row">
    
        <div class="col-6">
            <partial name="_RegPartial"></partial>
        </div>
        <div class="col-6">
            <partial name="_LogPartial"></partial>
        </div>

    </div>
</div>

